.navbar_holder {
  background-color: #298cdf;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.navbar {
  overflow: hidden;
  font-family: Arial;
  margin-left: 30vw;
}
.navbar a {
  float: left;
  font-size: 1.5em;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  color: #22ddd2;
}
.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: #298cdf;
}
.social_connections {
  margin-left: 45%;
}
.fa {
  padding: 15px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.8;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
#footer_connect {
  font-style: italic;
  margin-bottom: -0.1%;
  text-align: center;
  color: white;
}
#contact_page {
  position: absolute;
  margin-left: 25em;
  margin-top: .8%;
  color: white;
  font-size: 1.5em;
}
#faq_page {
  position: absolute;
  margin-left: 60%;
  margin-top: .8%;
  color: white;
  font-size: 1.5em;
}

.form-group {
    margin-bottom: 15px;
  }

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .form-group input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
.card {
  display: flex;
  overflow: hidden;
  margin: 20px;
  border-radius: 20px;
  border: 4px, solid, #22ddd2;
}
.card img {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.card-content {
  padding: 20px;
  box-sizing: border-box;
  width: 60%;
}

h2 {
    color: #22ddd2;
    font-size: 2.5em; 
    font-style: italic;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px; 
  }


p{
color: #3b5998;
font-size: xx-large;

}
.card-content li{
    color: #3b5998;
    font-size: xx-large;
}
